.nav-primary {
	@include breakpoint(medium) {
		.submenu {
			li:not(.menu-item-has-children):not(:last-child) {
				border-bottom: $nav-submenu-item-border;
			}
		}
	}
}

.submenu {
	li:not(.menu-item-has-children):not(:last-child) {
		border-bottom: $nav-submenu-item-border;
	}
}

.dept-nav {
	@include breakpoint(medium) {
		position: absolute;
		right: 0;
		top: -77px;

		.is-stuck & {
			top: -58px;
		}

		&.is-active {
			margin-top: -1px;
			right: -1px;

			&,
			> ul.submenu {
				border: 1px solid $gray-lighter;
			}

			.dropdown.menu > & > .is-dropdown-submenu {
				right: -1px;
			}
		}

		> .menu {
			padding: 0 1em 1em 1em;
		}

		.dropdown.menu > &.is-dropdown-submenu-parent > a {
			padding: 0.7rem 1rem 0.7rem 2.19rem;

			&::after {
				right: auto;
				left: 1rem;
				border-left-width: 0;
				margin-top: -5px;
			}
		}

		.submenu {
			min-width: 350px;

			> li:last-child {
				border-bottom: $nav-submenu-item-border;
			}
		}

		.nav-primary .dropdown.menu > & {
			> a,
			> a:hover,
			&.is-active > a {
				color: $black;
				background-color: transparent;
			}

			&.is-dropdown-submenu-parent {
				> a::after,
				&.is-active > a::after,
				&:hover > a::after {
					@include css-triangle($dropdownmenu-arrow-size, $black, left);
				}
			}
		}

		.menu {
			position: absolute;
			left: auto;
			right: 0;
			text-align: left;
		}
	}
}
