h1 {
	margin-bottom: $grid-margin-gutters;
}

.full-width-content .content-sidebar-wrap .content {
	@include breakpoint(medium) {
		width: 66.67%;
	}
}

.study-abroad-toggle {
	background-color: $maroon;
	font-family: $tungsten;
	padding: 1.07rem .6rem .6rem;
	color: $whiter;
	text-align: center;
	text-transform: uppercase;
	font-size: .85rem;
	display: inline-block;
	text-decoration: none;

	.no-js & {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		color: $whiter;
	}

	&:active,
	&:focus {
		outline: 1px dashed $gray-light;
	}

	.menu-icon {
		margin-bottom: .5rem;
	}

	div {
		line-height: 1;
	}
}

.study-abroad-search-sidebar {
	h2 {
		color: $maroon;
		text-transform: uppercase;
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}

#search-sidebar {

	.no-js & {
		display: none;
	}

	#filter-wrap {
		background-color: $whiter;
		padding-top: $grid-padding-gutters / 2;
	}

	.is-stuck {
		#filter-wrap {
			padding: $grid-padding-gutters / 2;
		}
	}

	@include breakpoint(small only) {
		// max-height: 65px;

		.invisible-for-small-only {
			visibility: hidden;
		}

		.sticky {
			left: 0;
		}

		&.sticky-container {
			z-index: 1;
		}

		.is-stuck {
			max-width: none !important; // sass-lint:disable-line no-important
			bottom: $grid-padding-gutters / 2 !important; // sass-lint:disable-line no-important

			#filter-wrap {
				position: absolute;
				bottom: 0;
				width: 100%;
			}

			#study-abroad-filters {
				overflow-y: scroll;
				position: absolute;
				top: auto;
				bottom: $grid-padding-gutters / 2;
				left: $grid-padding-gutters / 2;
				right: $grid-padding-gutters / 2;
			}
		}
	}

	@include breakpoint(medium) {
		.is-stuck {
			&.sticky {
				bottom: $grid-padding-gutters / 2 !important; // sass-lint:disable-line no-important
				overflow-y: scroll;
				z-index: 2;
			}
		}

		#filter-wrap,
		.is-stuck #filter-wrap {
			padding: 0;
		}
	}
}

#genesis-content {
	position: relative;
}

.reset-search {
	float: right;
	display: inline-block;
	font-size: 1rem;
	margin-left: 1rem;
	text-decoration: none;

	&::after {
		content: " ↻";
		display: inline;
		color: $red;
		font-size: 2rem;
		font-weight: bold;
	}
}

#study-abroad-filters {
	hyphens: auto;
	padding-bottom: $grid-margin-gutters / 2;
	margin-bottom: 0;
	clear: both;

	input {
		margin: 1px .5rem 0;
		height: 16px;
		width: 16px;
	}

	label {
		line-height: 18px;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.5rem;
		color: $maroon;
		border-bottom: 2px solid $maroon;
	}

	.item {
		align-items: flex-start;
		margin-top: 2px;

		&:first-child {
			margin-top: 0;
		}

		> .cell:first-child {
			line-height: 1;
		}
	}

	ul.menu:not(.is-accordion-submenu) {
		display: none;
	}

	> li {
		a {
			padding-right: 2rem;

			&:hover {
				color: $maroon;
			}
		}

		> ul {
			margin: $grid-margin-gutters / 4 0 $grid-margin-gutters / 2;

			&.last {
				margin-bottom: 0;
			}
		}
	}

	&.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
		border-color: $maroon transparent transparent;
	}

	@include breakpoint(medium) {
		padding-bottom: 0;
	}
}

.programs {
	margin-left: 0 - $grid-padding-gutters / 4;
	margin-right: 0 - $grid-padding-gutters / 4;
	font-family: $tungsten;

	.program {
		@include xy-gutters( $grid-padding-gutters / 2, padding );
		position: relative;
		margin-bottom: $grid-padding-gutters / 2;
		overflow: hidden;

		a {
			display: block;
			position: relative;
			height: 100%;

			&:hover .title {
				box-shadow: 4px 0 inset $nav-yellow;
			}
		}

		> div {
			right: $grid-padding-gutters / 4;
			left: $grid-padding-gutters / 4;
		}

		.title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 50%;
			background-color: rgba($dark-blue, .8);
			padding: .38rem $grid-padding-gutters / 2;
			color: $white;
			line-height: 1.2;
			font-size: 3.8vw;

			@include breakpoint(560px down) {
				line-height: 1.15;
			}

			@include breakpoint(510px down) {
				line-height: 1.1;
			}

			@include breakpoint(470px down) {
				line-height: 1.06;
			}

			@include breakpoint(415px down) {
				line-height: 1;
			}

			@include breakpoint(medium) {
				font-size: 1.5vw;
				line-height: 1.05;
			}

			@include breakpoint(709px down) {
				line-height: 1.07;
			}

			@include breakpoint(787px down) {
				line-height: 1.1;
			}

			@include breakpoint(1130px) {
				line-height: 1.1;
			}

			@include breakpoint(xlarge) {
				font-size: 18px;
			}

			img {
				width: 100%;
			}

			a {
				text-decoration: none;
			}

			.truncate {
				height: 100%;
			}
		}

		@include breakpoint(medium) {
			@include breakpoint(900px down) {
				@include xy-cell( 6, false, 0 );

				.title {
					font-size: 3vw;
					line-height: 1.15;
				}
			}
		}
	}
}

@include breakpoint(small only) {
	#genesis-content .entry-content > .grid-container {
		margin-top: $grid-padding-gutters / 2;
	}
}

.truncate {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
