@charset "utf-8";

@import "foundation";
@import "settings";

$home-cell-padding: 1.75rem;
$block-vertical-padding: 2.5rem;
$dark-maroon: darken($maroon, 10%);

/* Cell padding mixin.
---------------------------------- */
@mixin home-cell-padding( $padding ){
	.entry-content {
		.padding-y {
			padding: {
				top: $home-cell-padding * 1.5;
				bottom: $home-cell-padding * 1.5;
			}
		}

		.grid-padding-x > .cell {
			padding-left: $padding;
			padding-right: $padding;
		}

		> .alignfull {
			> .grid-container {
				padding: {
					left: $padding * 2;
					right: $padding * 2;
				}

				&:not(.full) > .grid-padding-x {
					margin: {
						left: -$padding;
						right: -$padding;
					}
				}
			}

			&.about-research > .grid-container:not(.full) > .grid-padding-x {
				margin: {
					left: -$padding * 2;
					right: -$padding * 2;
				}
			}
		}

		.grid-padding-x > .cell.about {
			padding: $padding;
		}

		.livewhale {
			.events-cell > .grid-padding-x {
				margin: {
					left: -$padding;
					right: -$padding;
				}
			}

			.events-all {
				padding: {
					top: $padding / 2;
					bottom: $padding / 2;
				}
			}
		}
	}
}

@include breakpoint(small only) {
	.small-12 ~ .small-12 {
		margin-top: $paragraph-margin-bottom;
	}
}

.site-inner > .grid-container {
	padding: {
		top: 0;
		bottom: 0;
	}
}

.arrow-right {
	&::after {
		content: "";
		display: inline-block;
		width: 1.1rem;
		height: 1.1rem;
		margin-left: .3em;
		border: 4px solid $nav-yellow {
			width: 0 4px 4px 0;
		}
		position: relative;
		top: -0.2rem;
		transform: rotate(-45deg);
	}
}

p {
	margin-bottom: .5rem;
}

h3,
.h3 {
	font-weight: 600;
	text-transform: uppercase;
}

.invert {
	color: $whiter;
	background-color: $gray-darker;

	&.events {
		background-color: $maroon;
	}

	a,
	a:active,
	a:hover {
		color: $whiter;
		text-decoration: none;
	}
}

.button {
	color: $whiter;
	background-color: $maroon;
	border-left: 2px solid $button-red-highlight;
	text-transform: uppercase;
	font-weight: 400;
	padding: .5em .75em;
	margin: .5em .75em 0 0;

	&:hover {
		color: $whiter;
		background-color: darken($maroon, 10%);
	}
}

.top {
	position: relative;

	p {
		margin-bottom: 0;
	}

	video {
		display: block;
	}

	h2 {
		position: absolute;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #FFF;
		text-align: center;
		bottom: 1rem;
		margin: 0;
		font-weight: bold;
		text-transform: uppercase;

		span {
			display: inline-block;
			padding: 1rem 10%;
			max-width: 100%;
			background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.7) 25%,
				rgba(0, 0, 0, 0.7) 75%,rgba(0, 0, 0, 0) 100%);
		}
	}
}

.about-research,
.student-section {
	background-color: $gray-lighterest; // We should implement a color pallet management system.
}

.about h2 {
	font-weight: 500;
}

.entry-content {
	.cell.center-y {
		display: flex;
		align-items: center;
	}

	> .alignfull {
		> .grid-container {
			max-width: 71rem;
		}
	}

	.action-items,
	.events,
	.student-section {
		&.grid-container {
			padding-left: 2.75rem;
			padding-right: 2.75rem;
		}
	}

	.action-items {
		p {
			font-weight: 500;
		}
	}

	.grid-padding-x > .cell.research {
		padding: 0;
	}

	/* About / Research block.
	---------------------------------- */
	.research {
		margin-top: 0;

		> a {
			display: block;
			width: 100%;
			position: relative;
		}

		img {
			width: 100%;
		}

		h3 {
			color: $whiter;
			position: absolute;
			top: 0;
			left: 28%;
			z-index: 2;
			text: {
				transform: none;
				shadow: 0 0 4px $black, 0 0 4px $black, 0 0 2px $black;
			}
			line-height: .8;

			.first-word-wrap {
				display: flex;
				align-items: flex-end;
				font: 400 .6em $opensans;
				vertical-align: baseline;
				text-transform: uppercase;
				position: relative;
				left: -80%;
				border-right: 2px solid $button-red-highlight;
				height: 7rem;
			}

			.first-word {
				background-color: $dark-maroon;
				padding: .7rem .6rem;
				display: inline-block;
				line-height: .85em;
			}

			.second-word {
				background-color: $dark-maroon;
				display: inline-block;
				padding: .4rem .6rem .6rem;
				line-height: 1em;
			}

			@include breakpoint(small only) {
				font-size: 2.75rem;
			}

			@include breakpoint(525px down) {
				left: 30%;
			}

			@include breakpoint(460px down) {
				left: 40%;

				.first-word-wrap {
					height: 3.5rem;
				}
			}

			@include breakpoint(medium) {
				left: 25%;

				@include breakpoint(985px down) {
					left: 33%;

					.first-word-wrap {
						height: 5rem;
					}
				}

				@include breakpoint(715px down) {
					left: 40%;
				}
			}
		}

		.excerpt {
			color: $whiter;
			background-color: $dark-maroon;
			border-left: 2px solid $button-red-highlight;
			text-transform: uppercase;
			font-weight: 400;
			padding: .9em 1.15em;
			position: absolute;
			right: 0;
			top: 37%;
			width: 45%;
			z-index: 1;

			@include breakpoint(525px down) {
				width: 90%;
				right: 5%;
				top: 75%;
				transform: translateY(-50%);
				max-height: 45%;
				overflow: auto;
			}

			@include breakpoint(415px down) {
				position: static;
				width: 100%;
				transform: none;
			}

			@include breakpoint(medium) {

				@include breakpoint(975px down) {
					top: auto;
					bottom: 0;
					width: 60%;
					max-height: 10rem;
					overflow: auto;
					padding-bottom: .4rem;

					p {
						padding-bottom: .5rem;
					}
				}

				@include breakpoint(905px down) {
					width: 75%;
					overflow-y: auto;
				}

				@include breakpoint(815px down) {
					position: relative;
					width: 100%;
					margin-top: -3rem;
					top: auto;
					bottom: auto;
					right: auto;
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	/* Events block.
	---------------------------------- */
	.events {
		h2 {
			text-transform: none;
			text-align: center;

			+ .cell {
				margin-top: 0;
			}
		}

		h3 {
			margin-top: .5rem;
		}

		.cell a {
			display: flex;
			flex: 1 1 100%;
			flex-wrap: wrap;

			div {
				margin-bottom: 1rem;
			}

			@include breakpoint(medium) {
				display: block;

				div {
					margin-bottom: 0;
				}
			}
		}
	}

	/* LiveWhale block.
	---------------------------------- */
	.livewhale {
		p {
			hyphens: auto;
		}

		.h2,
		.h3 {
			margin-bottom: 0;
			line-height: 1;
		}

		.date {
			border-right: 2px solid $button-red-highlight;
			text-align: center;
			padding: {
				top: .2rem;
				bottom: .2rem;
			}
		}

		.month {
			font: {
				size: 1.6rem;
				weight: 300;
			}
		}

		.day {
			font-weight: 700;
		}

		.title {
			padding: {
				top: .1rem;
				bottom: .1rem;
			}
		}

		.event-title {
			font-weight: bold;
			text-transform: uppercase;
		}

		.event {
			@include breakpoint(medium) {
				padding: $home-cell-padding / 2;
			}

			@include breakpoint(large down) {
				min-width: 275px;
			}

			.cell {
				padding: {
					left: 1rem;
					right: 1rem;
				}
			}
		}
	}

	/* Student section block.
	---------------------------------- */
	.student-section {
		text-align: center;

		h2 {
			font-size: 3rem;

			@include breakpoint(medium) {
				margin-bottom: 2.5rem;
			}
		}

		.arrow-wrap {
			position: relative;

			.arrow-right {
				$width: 2rem;
				position: absolute;
				top: 5.9rem;
				background-color: $nav-yellow;
				width: $width;
				height: $width + .5rem;
				right: 1.75rem - $width / 2;

				&::after {
					border-color: $black;
					top: 50%;
					left: calc(50% - .55rem);
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}

		.button {
			margin-top: 1.5rem;

			@include breakpoint(small only) {
				margin-right: 0;
			}

			@include breakpoint(medium) {
				transform: scale(1.2) {
					origin: 0 0;
				}
			}
		}

		.statement {
			font: {
				size: 1.5rem;
				weight: 300;
			}
		}

		@include breakpoint(medium) {
			text-align: left;
		}
	}
}

@include home-cell-padding( .75rem );

@include breakpoint(915px up) {
	$padding: 1.75rem;

	@include home-cell-padding( $padding );

	.entry-content {
		.events h2 {
			margin-bottom: $padding + .75rem;
		}
	}
}

@include breakpoint(medium) {
	@include breakpoint(915px down) {
		$padding: .75rem;

		.entry-content {
			.alignfull:not(.no-padding) {
				padding: {
					left: .5rem;
					right: .5rem;
				}
			}

			.events h2 {
				margin-bottom: $padding + .75rem;
			}

			.student-section .arrow-wrap .arrow-right {
				$width: 1.5rem;
				width: $width;
				right: $padding - $width / 2;
			}
		}
	}
}
